server:
  port: 8080

spring:
  mvc:
    servlet:
      path: /api
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:13306/blog?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=false
    username: root
    password: root
  flyway:
    enabled: true
    locations: classpath:db/migration
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: false
    show-sql: true
  h2:
    console:
      enabled: true
  sql:
    init:
      mode: never

db:
  configurations:
    en:
      url: jdbc:mysql://127.0.0.1:13306/blog?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=false
      driver: com.mysql.cj.jdbc.Driver
      username: root
      password: root
    fr:
      url: jdbc:mysql://127.0.0.1:13306/blog_fr?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=false
      driver: com.mysql.cj.jdbc.Driver
      username: root
      password: root